.header {
    margin: 20px 20px;
    /* Adiciona espaço abaixo do cabeçalho */
}

.line {
    border: none;
    border-top: 2px solid #ccc;
    /* Define uma linha horizontal com cor cinza */
    width: 100%;
    /* Garante que a linha ocupe toda a largura */
}