.form-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 0.5em;
}

.item-list {
  width: 100%;
  display: grid;
  row-gap: 1em;

  .list-line {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 1fr 50px 50px;
    grid-column-gap: 1em;
    width: 90%;
    justify-self: center;
    align-items: center;

  }
}

.item-value {
  display: inline-block;
  padding: 10px;

  buttom {
    text-align: center;
  }
}